Options +FollowSymLinks
Options +Indexes
RewriteEngine On

RewriteRule ^/page/([^/\.]+)/?$ index.php?page=$1 [L]
RewriteRule ^/post/([^/\.]+)/?$ index.php?post=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.php [L]
