{% extends 'panel-base.html' %}

{% block pagetitle %}Manage posts{% endblock %}

{% block code %}
require(
    ["js/atto-core"],
    function(atto) {
    "use strict";

        var n, evt, target, items = document.querySelectorAll('.item[data-href]');
        for (n=0; n < items.length; n++) {
            items[n] && atto.addEvent(items[n], 'click', function(event) {
                if (this === window) {
                    // I hate you, IE.
                    evt = event || window.event;
                    target = evt.target || evt.srcElement;
                    if (target) {
                        window.location.href = target.attributes('data-href').value; //target.getAttribute('data-href');
                    } else {
                        console.log(target);
                    }
                } else {
                    window.location.href = this.getAttribute('data-href');
                }
            });
        }

    } // end of require callback
);
{% endblock %}

{% block main %}
    <h1>Posts <a href="edit" style="float:right">(New)</a></h1>
    <ol>
    {% for index,post in data.posts %}
    <div class="item {%if post.draft %}draft{% endif %}" data-href="{{ data.blog.url }}/edit.php?id={{ post.guid }}">
        <span class='title'>{{ post.title }}</span>
        <span class='tags'>{{ post.tags }}</span>
        <span class='date'>{%if post.draft %}{% else %}{{ post.pubDate }}{% endif %}</span>
        {% if post.seoName %}
            <a class='view' href="{{ data.blog.url }}/post/{{ post.seoName }}" title="View this page">&rsaquo;</a>
        {% else %}
            <a class='view' href="{{ data.blog.url }}/?id={{ post.guid }}" title="View this page">&rsaquo;</a>
        {% endif %}
    </div>
    {% endfor %}
    </ol>
{% endblock %}
