{% extends 'panel-base.html' %}

{% block pagetitle %}Manage pages{% endblock %}

{% block code %}
require(
    ["js/atto-core"],
    function(atto) {
    "use strict";
        var n, callback, items = document.querySelectorAll('.item[data-href]');
        for (n=0; n < items.length; n++) {
            if (items[n]) {
                callback = (function(url) { return function() { location.href = url; } })(items[n].getAttribute('data-href'));
                atto.addEvent(items[n], 'click', callback);
            }
        }
    } // end of require callback
);
{% endblock %}

{% block main %}
    <h1>Pages <a href="edit_page" style="float:right">(New)</a></h1>
    <ol>
    {% for index,page in data.pages %}
    <div class="item {%if page.draft %}draft{% endif %}" data-href="{{ data.blog.url }}/edit_page.php?name={{ page.name | escape true }}">
        <span class='title'>{{ page.name }}</span>
        <span class='date'>{%if page.draft %}{% else %}{{ page.pubDate }}{% endif %}</span>
        <a class='view' href="{{ data.blog.url }}/page/{{ page.name }}" title="View this page">&rsaquo;</a>
    </div>
    {% endfor %}
    </ol>
{% endblock %}