{% extends 'panel-base.html' %}

{% block pagetitle %}{{ data.title }}{% endblock %}

{% block code %}
require(
    ["js/atto-core"],
    function(atto) {
    "use strict";

        var txt = document.querySelector('textarea'),
            footer = document.querySelector('footer'),
            btnUnmax = document.querySelector('#btn_unmax');

        function reflow() {
            if (txt.className == 'focused') {
                txt.style.height = windowInnerHeight() + 'px';
            } else {
                txt.style.height = windowInnerHeight() - 231 + 'px';
            }
        }
        function max_text() {
            txt.className = 'focused';
            btnUnmax.style.display = '';
            footer.style.display = 'none';
            reflow();
        }
        function unmax_text() {
            txt.className = '';
            btnUnmax.style.display = 'none';
            footer.style.display = '';
            reflow();
        }
        atto.addEvent(window, 'resize', reflow);
        atto.addEvent(window, 'load', reflow);
        atto.addEvent(txt, 'focus', max_text);
        atto.addEvent(txt, 'blur', unmax_text);

        function publish() {
            var draft = document.getElementById('blnDraft').value,
                theForm = document.getElementById('frmEdit'),
                action = draft ? 'Published' : 'Saved';

            atto.xhrRequest({
                url: theForm.action,
                postData: atto.serializeForm(theForm),
                success: function(data) {
                    document.getElementById("xhrResponse").innerHTML = data; //"Saved at " + new Date();
                },
                failure: function(error) {
                    document.getElementById("xhrResponse").innerHTML = "Couldn't save (" + error + ")";
                }
            });
        }
        atto.addEvent(document.querySelector('.submit'), 'click', publish);

    } // end of require callback
);
{% endblock %}

{% block main %}
<style>
  #frmEdit footer { height: 6em; }
</style>

    <form id="frmEdit" action="savePost.php" method="POST">
        <input type="text" name="title" value="{{ data.post.title }}" placeholder="Post Title" />
        <input type="text" name="seoName" value="{{ data.post.seoName }}" placeholder="SEO-name (i.e. URL-friendly name)" />
        <textarea name="content" class='clearfix' rows="16" placeholder="Post Body Goes Here">{{ data.post.body }}</textarea>
        <a href="#" id="btn_unmax" onclick="unmax_text" class="icon-reply" style="display:none;"> </a>

        <footer>
            <input type="text" name="tags" value="{{ data.tags }}" placeholder="Tags" />
            <div class="status">
                <input type="checkbox" id="blnDraft" name="draft" {% if data.post.draft %}checked="checked"{% endif %} />
                <label for="blnDraft">Draft</label>
                <span id="xhrResponse"> </span>
                <a href="#" class="icon-lightning submit"> </a>
            </div>
        </footer>

        <input type="hidden" id="guid"     name="guid"    value="{{ data.post.guid }}"  />
        <input type="hidden" id="pubDate"  name="pubDate" value="{{ data.currDate }}"   />
    </form>
{% endblock %}